<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kakao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao${KAKAO_NATIVE_APP_KEY}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>naver</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${NAVER_URL_SCHEME}</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>${KAKAO_NATIVE_APP_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NAVER_CLIENT_ID</key>
	<string>${NAVER_CLIENT_ID}</string>
	<key>NAVER_SECRET_ID</key>
	<string>${NAVER_SECRET_ID}</string>
	<key>NAVER_URL_SCHEME</key>
	<string>${NAVER_URL_SCHEME}</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SpoqaHanSansNeo-Bold.ttf</string>
		<string>SpoqaHanSansNeo-Medium.ttf</string>
		<string>SpoqaHanSansNeo-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
